.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.category {
    display: flex;
    flex-direction: column;
    margin: 1vh;
}

.title {
    display: flex;
    color: white;
    font-size: 2vh;
    width: 27vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media screen and (min-width: 100vh) {
    .title {
        font-size: 3vh;
    }
}