.board {
    background-color: #2c3d37;
    width: 30%;
    text-align: center;
    margin: 3vh 1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}

.board h2 {
    background-color: #2c3d37;
    color: #3ac29d;
    display: flex;
    text-align: center;
    font-size: 4vh;
    line-height: 8vh;
}